.topbar {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;

}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topRight {
  display: flex;
  align-items: center;
}
.logo {
  padding-left: 20px;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.topbarIconContainer {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  align-items: center;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding-left: 5px;
}

.profile_Img {
  background-image: url(./luffy.png);
}

.dropbtn {
  padding-right: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #066a98;
}
.flex {
  padding-right: 10px;
  display: block;
  width: 50px;
  height: 50px;
}
.flex-2 {
  padding-right: 20px;
}
